<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  
  <context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
  </context-param>
  
  
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>br.edu.ifce.service</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/swappersws/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  
   <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/Login.xhtml</form-login-page>
  		<form-error-page>/Login.xhtml</form-error-page>
  	</form-login-config>
  </login-config>
  
  <security-role>
  	<role-name>admin</role-name>
  </security-role>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>Consulta Lugar</web-resource-name>
  		<url-pattern>/ConsultaPlace.xhtml</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>admin</role-name>
  	</auth-constraint>
  </security-constraint>
  
  <security-constraint>
		<web-resource-collection>
			<web-resource-name>Cadastro Lugar</web-resource-name>
			<url-pattern>/CadastroLugar.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
   </security-constraint>
   
   <security-constraint>
		<web-resource-collection>
			<web-resource-name>Consulta Doacao</web-resource-name>
			<url-pattern>/ConsultaDoacao.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
   </security-constraint>
   
   <security-constraint>
		<web-resource-collection>
			<web-resource-name>Consulta Adocao</web-resource-name>
			<url-pattern>/ConsultaAdocao.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
   </security-constraint>
   
   <security-constraint>
		<web-resource-collection>
			<web-resource-name>Consulta User</web-resource-name>
			<url-pattern>/ConsultaUser.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
   </security-constraint>
  
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>Index</web-resource-name>
  		<url-pattern>/index.html</url-pattern>
  	</web-resource-collection>
  	<auth-constraint>
  		<role-name>admin</role-name>
  	</auth-constraint>
  </security-constraint>
  
</web-app>